  - <details><summary><b><a
    href="https://github.com/devinus/poolboy">poolboy</a></b>: A hunky
    Erlang worker pool factory.
    <br/>
    <a href="#information" alt="information">:information_source:</a>
    <a href="#documentation" alt="documentation">:green_book:</a>
    <a href="#release">:package:</a>
    <a href="#watchers">:eyes:</a>
    <a href="#musthave">:bookmark:</a>
    <a href="#bugs">:bug:</a>
    <a href="stats">:bar_chart:</a>
    </summary>
    <br/>

    - Repository: https://github.com/devinus/poolboy
    - Documentation: https://hexdocs.pm/poolboy/
    - Build: https://app.travis-ci.com/github/devinus/poolboy/pull_requests
    - Support: https://gratipay.com/devinus/
    - License(s): UNLICENSE, ISC
    <br/>
    
    | [Github](https://github.com/devinus/poolboy) | license | contributors | last-commit | open issues | stars | forks | repo-size | watchers |
    |--------| :-----: | :------------: | :-----------: | :-----------: | :-----: | :-----: | :---------: | :--: |
    |        | 🟢<br/>ISC  | 🟢<br/>[26](https://github.com/devinus/poolboy/graphs/contributors) | 🔴<br/>[october 2018](https://github.com/devinus/poolboy/commit/master) | 🟡<br/>[21](https://github.com/devinus/poolboy/issues) | 🔵<br/>1.5k | 🔵<br/>347 | 🔵<br/>3.42MB | 🔵<br/>74 |
  
    | [Hex.pm](https://hex.pm/packages/poolboy) | version  | licenses | downloads | downloads/week | download/day |
    | :-----: | :--------: | :--------: | :---------: | :--------------: | :------------: |
    |        | 🔵<br/>1.5.2 | 🔵<br/>Apache 2.0 | 🟢<br/>69M | 🟢<br/>101k | 🟢<br/>20k | 
    
    </details>