%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{minimum_otp_vsn, "25.0"}.
{erl_opts, [ debug_info
           , deterministic
           , verbose
           , compressed
           ]}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{deps, []}.
