%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{erl_opts, [debug_info]}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{deps, [ {gabarit, {git, "https://github.com/erlang-punch/gabarit.git", {branch, "master"}}}
       , {berty, {git, "https://github.com/erlang-punch/berty.git", {branch, "main"}}}
       , jobs
       , thoas
       , bbmustache
]}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{relx, [{ release
        , {awesome, "0.1.0"}
          , [ sasl
            , {jobs, load}
            , {berty, load}
            , {bbmustache, load}
            , {thoas, load}
            , awesome
            
            % applications managed by awesome
            , {inets, load}
            , {mnesia, load}
            , {awesome_store, load}
            , {awesome_mailing, load}
            , {awesome_api, load}
            , {awesome_admin, load}
            , {awesome_report, load}
            
            % extra applications 
            , youtube
            , hexpm
            , gitlab
            , github
            , crossref
            ]}
        , {mode, dev}
        , {sys_config, "./config/sys.config"}
        , {vm_args, "./config/vm.args"}
]}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{profiles, [{prod, [{relx, [{mode, prod}]}
           ]}
]}.
