{erl_opts, [debug_info]}.
{deps, [thoas,bbmustache]}.

{relx, [{ release
        , {awesome, "0.1.0"}
        , [ sasl
          , inets
          , mnesia
          , awesome
          , awesome_store
          , awesome_mailing
          , awesome_api
          , awesome_admin
          , youtube
          , hexpm
          , gitlab
          , github
          , crossref
          ]},
        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles
, [{prod, [{relx, [{mode, prod}]}
          ]}
  ]}.
