%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{minimum_otp_vsn, "25.0"}.
{erl_opts, [ debug_info
           , deterministic
           , verbose
           , compressed
           ]}.
{validate_app_modules, true}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{profiles, [{prod, [{relx, {mod, prod}}]}]}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{relx, [{ release
        , {awesome, "0.1.0"}
          , [ sasl
            , {jobs, load}
            , {berty, load}
            , {bbmustache, load}
            , {thoas, load}
            , {inets, load}
            , {mnesia, load}
            , {awesome, "0.1.0", permanent}
            , {awesome_admin, load}
            , {awesome_api, load}
            , {awesome_mailing, load}
            , {awesome_report, load}
            , {awesome_store, permanent}
            , {awesome_sendbox, load}
            , {archive, load}
            , {crossref, load}
            , {github, load}
            , {gitlab, load}
            , {hexpm, load}
            , {youtube, load}
            ]}
        , {include_src, true}
        , {include_erts, true}
        , {dev_mode, true}
        , {sys_config, "./config/sys.config"}
        , {vm_args, "./config/vm.args"}
        , {extended_start_script, true}
]}.
