%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{minimum_otp_vsn, "25.0"}.
{erl_opts, [ debug_info
           , deterministic
           , verbose
           , compressed
           ]}.
{validate_app_modules, true}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{deps, [ {gabarit, {git, "https://github.com/erlang-punch/gabarit.git", {branch, "master"}}}
       , bbmustache
]}.
