%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{minimum_otp_vsn, "25.0"}.
{erl_opts, [ debug_info
           , deterministic
           , verbose
           , compressed
           ]}.

%%--------------------------------------------------------------------
%%
%%--------------------------------------------------------------------
{deps, [ {berty, {git, "https://github.com/erlang-punch/berty.git", {branch, "main"}}}
       , jobs
       , thoas
]}.
